
.game-card {
  background-color: #151922;
  border-radius: 12px;
  width: 15em;
  height: 25em;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid var(--border);
  
}

.game-card:hover {
  border: 1px solid #ff4500; 
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
  padding: 16px;
  height: 100%;
  position: absolute;
  width: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container {
overflow: hidden;
  
}


.btn-add {
  background-color: #21262d;
  color: #8b949e;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

.btn-add:hover {
  background-color: #313d30;
  color: #ffffff;
}


.btn-added {
  background-color: #1daf17;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

.btn-added:hover {
  background-color: #30363d;
  color: #ffffff;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
  background-color: var(--bg-2);
  padding: 16px;
  font-family: var(--font-family2);
  font-weight: 400;
}

.game-title {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  font-family: var(--font-family2);
  font-weight: bolder;
}

.game-status {
  color: #8b949e;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: var(--font-family2);
  font-weight: 400;
}

/* Alinhamento de Preço e Estoque */
.price-stock-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-family: var(--font-family2);
  font-weight: lighter;
  
}

.game-price {
  color: #ff5a1f;
  font-size: 20px;
  font-weight: bold;
}

.game-stock {
  color: #00cc7e; 
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

